# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

credentials.yml
config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
blobs
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
releases/**/*.tgz
.DS_Store
*.swp
*.tgz
*.zip
*~
*#
#*
